.search {
	position: relative;
	width: 90%;
	height: 50px;
	border-radius: 30px;
	margin: 5px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	.check {
		color: rgb(255, 255, 255);
		position: absolute;
		left: 3%;
	}
	.search-form {
		height: 40px;
		margin: 5px;

		border: none;
		transition: all 0.5s ease-in-out;
		border-radius: 15px;
		line-height: 4px;
		text-align: center;

		&:focus {
			position: relative;
			outline: none;
			border: 2px solid rgb(92, 92, 92);
			caret-color: transparent;

			text-decoration: none;
		}
	}

	.search-button {
		border-radius: 15px;
		border: none;
		cursor: pointer;
		transition: border 0.5s;
		border: 1px solid rgb(53, 53, 53);
		&:hover {
			border: 2px solid rgb(92, 92, 92);
		}
	}
}

::-moz-placeholder {
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}
