.search {
  position: relative;
  width: 90%;
  height: 50px;
  background-color: #000424;
  border: 1px solid rgb(180, 96, 23);
  border-radius: 30px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .check {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 3%;
  }
  .search-form {

    height: 40px;
    margin: 5px;

    border: none;
    transition: all 0.5s ease-in-out;
    border-radius: 15px;
    line-height: 4px;
    text-align: center;

    &:focus {
      border-radius: 15px 15px 0 0;
      position: relative;
      outline: none;
      border: 2px solid rgb(145, 77, 14);
      caret-color: transparent;

      text-decoration: none;
    }
  }
.form {
  border-left: 1px solid rgb(180, 96, 23);
  border-right: 1px solid rgb(180, 96, 23);
}
  .search-button {

    border-radius: 15px;
    border: none;
    cursor: pointer;

    
    border: 1px solid #000440;
    &:hover {
      border: 2px solid rgb(180, 96, 23);
    }
  }
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
