.collection-item-container {
  position: relative;
  border: 1px solid rgb(53, 53, 53);
  border-radius: 20px;
  transition: border 1s;
  z-index: 0;
  &:hover {
    border: 1px solid rgb(92, 92, 92);
  }
}
.collection-item {
  margin: 10px 15px 10px 15px;

  .image {
    position: relative;
    transition: opacity 0.7s;
    width: 100%;
    border-radius: 20px;

    img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      transition: opacity 0.8s;
    }

    &:hover {
      img {
        opacity: 0.8;
      }
      .btn {
        opacity: 0.9;
        transition: all 0.8s;
        cursor: pointer;
      }
    }
  }
  .btn {
    position: absolute;
    bottom: 10%;
    left: 18%;
    width: 60%;
    height: 10%;
    border-radius: 20px;
    background-color: #0e143d;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(53, 53, 53);
    opacity: 0;
    &:hover {
      background-color: rgb(182, 149, 95);
      opacity: 1;
    }
  }
}

.name {
  text-align: center;
  color: rgba(255, 255, 255, 0.74);
}
.icon {
  position: absolute;
  cursor: pointer;
  right: 5px;
  color: #8db3b3;
  font-weight: bold;
  background-color: #0e143d;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  transition: all 0.5s;
  &:hover {
    color: rgb(255, 255, 255);
  }
}

.raiting {
  padding-top: 13px;
  font-size: 20px;
  top: 20px;
  text-decoration: none;
}
.favorite {
  padding-top: 5px;
  font-size: 30px;
  top: 80px;
}
.remove {
  top: 140px;
  padding-top: 5px;
  font-size: 30px;
}
